.curl {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120px;
  height: 120px;
  background: linear-gradient(
    45deg,

    #d79e67,
    #d79e67 45%,
    #d79e67 50%,

    #74573a 50%,
    #98754f 56%,
    #98754f 62%,
    #ac855a 80%,
    #c89b69 100%

/* 
    white,
        #f3f3f3 45%,
        #ddd 50%,
        #aaa 50%,
        #bbb 56%,
        #ccc 62%,
        #f3f3f3 80%,
        #fff 100%  */
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* from-[#8b6846] to-[#e5ac73]  */
  transition: all 1s ease;
}

.curl::before,
.curl::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 12.5%;
  top: 5.8%;
  width: 70%;
  max-width: 300px;
    max-height: 100px;
  height: 55px;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
  transform: skew(-10deg) rotate(-6deg);
}

.curl::after {
  left: auto;
  right: 5.8%;
  top: auto;
  bottom: 14.16%;
  transform: skew(-15deg) rotate(-84deg);
}

.curl:hover {
  width: 800px;
  height: 800px;
}

.curl:hover::before,
.curl:hover::after {
  box-shadow: 0 24px 30px rgba(0, 0, 0, 0.3);
}
