@tailwind base;
@tailwind components;
@tailwind utilities;

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  background: #e5ac73;
}

.menu {
  animation: menudrop 1.5s ease-in-out 1;
  animation-fill-mode: forwards;
}

.speaker {
  animation: speakerdrop 1s ease-in-out 1;
  animation-fill-mode: forwards;
}

@keyframes menudrop {
  0% {
    position: fixed;
    bottom: 500px;
    border-radius: 100%;
  }
  30% {
    position: fixed;
    bottom: 20px;
  }
  35% {
    position: fixed;
    bottom: 100px;
  }
  40% {
    position: fixed;
    bottom: 20px;
  }
  45% {
    position: fixed;
    bottom: 90px;
  }
  50% {
    position: fixed;
    bottom: 20px;
  }
  55% {
    position: fixed;
    bottom: 80px;
  }
  60% {
    position: fixed;
    bottom: 20px;
  }
  65% {
    position: fixed;
    bottom: 70px;
  }
  70% {
    position: fixed;
    bottom: 20px;
  }
  75% {
    position: fixed;
    bottom: 60px;
  }
  80% {
    position: fixed;
    bottom: 20px;
  }
  85% {
    position: fixed;
    bottom: 50px;
  }
  90% {
    position: fixed;
    bottom: 20px;
  }
  95% {
    position: fixed;
    bottom: 40px;
  }
  100% {
    position: fixed;
    bottom: 20px;
  }
}

/* @keyframes speakerdrop {
  0% {
    position: fixed;
    bottom: 500px;
    border-radius: 100%;
    left: 0;
  }
  30% {
    transform: translateY(500%) translateX(5000%);
  }
  50% {
    transform: translateY(700%) translateX(100%);
  }
  60% {
    transform: translateY(900%) translateX(5000%);
  }
  70% {
    transform: translateY(1100%) translateX(100%);
  }
  80% {
    transform: translateY(1300%) translateX(5000%);
  }
  100% {
    position: fixed;
    bottom: 20px;
    margin-left: 45px;
  }
} */


@keyframes speakerdrop {
  0% {
    position: fixed;
    bottom: 500px;
    border-radius: 100%;
  }
  50%{
    position: fixed;
    bottom: 100px;
    margin-left: 10px
  }
  60%{
    position: fixed;
    bottom: 150px;
  }
  100% {
    position: fixed;
    bottom: 20px;
    margin-left: 45px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
